src/*.o
src/*.a
src/.deps
autom4te.cache
*.swp
src/*.swp
include/epc/*.swp
config.*
.vscode
Makefile
src/Makefile
include/Makefile
.DS_Store
modules/.DS_Store
exampleProgram/*.o
exampleProgram/epctest
exampleProgram/.deps
exampleProgram/myfile
exampleProgram/mylog
exampleProgram/logs
doc/Doxyfile.bak
epctools.code-workspace
